@import "variables", "dir-mixins", "settings", "classes", "all_6.css", "substyle.scss";

:root {
    --main: #013660;
    --main-bg: #282A29;
    --main-2: #dfdfdf;
    --main-3: #f9f7f6;
    --purple: purple;
    --green-color: #95c11f;
    --wh: #fff;
    --b: #000;
    --soft-gary: #fcfaff;
    --space-gray: #a2a2a2;
    --red : #e5254a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(241, 242, 247, 1);
}

.auth-layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  @media (max-width: $screen-xs) {
     height: auto;
  }
}

[type="tel"], [type="url"], [type="email"], [type="number"] {
  direction: inherit;
}

.color-wh {
  color: #fff !important;
}

.drop-lang, .dropdown-profile {
  .hint-lang {
    p, i {
      color: #fff;
      @media (max-width: $screen-xs) {
         font-size: 12px;
      }
    }
    display: flex;
    align-items: center;
    .icon {
      margin-inline-end: 8px;
    }
  }
  .dropdown-menu {
    min-width: 100px;
    overflow: hidden;
    padding: 0;
    top: 8px !important;
      .dropdown-item {
        padding: 5px 8px;
        font-size: 14px;
        text-align: start;
        i {
          margin-inline-end: 8px;
          font-size: 17px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
        &:hover,
        &:focus {
          background-color: #fff;
          color: #000;
        }
      }
    }
    .dropdown-toggle, .profile-hint {
      &.show {
        &::after {
          transform: rotate(180deg);
        }
      }
      &::after {
        content: "\f078";
        top: 30%;
        @include dir-right(0);
        margin-left: 0;
        font-weight: 600;
        color: #fff;
        font-size: 11px;
        @include dir-margin-left(8px);
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        border: 0;
        transition: all 0.2s ease-in;
      }
    }

    &.dropdown-table {
      .dropdown-toggle {
        &.show {
          &::after {
            transform: none;
          }
        }
        &::after {
          content: "\f142";
          @include dir-margin-left(0);
          font-size: 14px;
        }
      }
      .dropdown-menu {
        min-height: fit-content;
        max-height: 200px;
        min-width: 120px;
        .dropdown-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          margin-bottom: 4px;
        }
      }
    }
    &.sort-table {
      .dropdown-menu {
        min-height: fit-content;
        max-height: 200px;
      }
    }
}

.dropdown-profile {
  margin-inline-end: 12px;
  background-color: transparent;
  .user-name {
    font-size: 13px;
    @media (max-width: $screen-xs) {
       font-size: 12px;
    }
    @media (max-width: 380px) {
      max-width: 64px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: ltr;
    }
  }
  .dropdown-item {
    padding: 7px 8px !important;
    font-size: 12px !important;
  }
  .profile-hint {
    margin-inline-end: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    &::after {
      position: absolute;
      @include dir-right(0);
      margin-inline-start: 0 !important;
    }
  }
  .user-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
    margin-inline-end: 15px;
    @media (max-width: $screen-xs) {
       margin-inline-end: 8px;
    }
  }
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .hint-header {
      font-size: 14px;
      color: var(--wh);
      @media (max-width: $screen-xs) {
         font-size: 12px;
      }
    }
}

.nav-btn {
  background: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  @include dir-margin-left(15px);
  @media (max-width: $screen-xs) {
    @include dir-margin-left(10px);
  }
  padding: 0;
  @media (max-width: 1000px) {
    display: block;
    height: 17px;
  }
  span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--main);
    transition: 0.5s;
    left: 0;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }
  &.active span:first-child {
    top: 50%;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  &.active span:nth-child(2) {
    #{$ltr} & {
      transform: translateX(-150%);
    }
    #{$rtl} & {
      transform: translateX(150%);
    }
    opacity: 0;
  }
  &.active span:last-child {
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
}

.nav-overlay {
  @media (max-width: 1000px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
    #{$ltr} & {
      transform: translateX(100%);
    }
    #{$rtl} & {
      transform: translateX(-100%);
    }
    @include dir-right(0);
    &.show {
      #{$ltr} & {
        transform: translateX(0);
      }
      #{$rtl} & {
        transform: translateX(0);
      }
    }
  }
}

.p-dropdown-item-label {
  font-size: 14px;
}

.with_cun_select {

  border: 1px solid #5F819D;
  border-radius: 8px;
  // overflow: hidden;
  .main_input {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  }

  .dropdown_card {
      width: 130px;
      flex-shrink: 0;
      .p-dropdown-label {
          font-size: 12px;
          padding: 5px;
          > .d-flex {
          gap: 10px;
          }
      }
      .p-inputtext {
        font-size: 12px !important;
        color: #5F819D;
        &::placeholder {
          font-size: 6px !important;
        }
      }
  }

  .p-dropdown {
    padding: 5px 7px;
    box-shadow: none;
    .p-dropdown-trigger {
        width: 17px;
        color: #5F819D;
        .p-icon {
        height: 13px;
        }
    }
  }
}

.flex-group-me {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}

.dropdown_card {
  // box-shadow: 0px 0px 2px #D9D9D9;
  border: 1px solid #5F819D !important;
  border-radius: 5px;
  overflow: hidden;
  .p-dropdown-label, .p-multiselect-label {
    font-size: 13px;
  }

  .p-dropdown {
    outline: 0 !important;
    box-shadow: none !important;
    width: 100%;
    
  }
  &::placeholder {
    font-size: 12px;
    color: #9f9f9f;
  }
}

.label {
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 15px;
  color: var(--main);
  .hint-red {
    color: red;
    margin-inline-start: 3px;
  }
}

.pointer, .p-calendar {
  cursor: pointer;
}

.main_input {
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(95, 129, 157, 1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  // box-shadow: 0px 0px 2px #d7dfe7;
  font-size: 13px;
  gap: 10px;
  background-color: rgba(236, 245, 252, 1);
  input {
    background-color: rgba(236, 245, 252, 1);
  }
  .sm-icon {
    font-size: 14px;
    color: var(--main);
  }
  &::placeholder {
    font-size: 12px;
    color: rgba(95, 129, 157, 1);
  }

  &.with_icon {
    justify-content: space-between;
    input {
      width: 100%;
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
      &::placeholder {
        font-size: 12px;
        color: #9f9f9f;
      }
    }
    .icon {
      font-size: 17px;
      color: gray;
    }

    .hint-text {
      font-size: 12px;
      color: gray;
      pointer-events: none;
    }
  }
  &.search-box {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
  }
  &.main_area {
    min-height: 95px;
    resize: none;
    &::placeholder {
      font-size: 12px;
      color: #9f9f9f;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &.nofocus {
    &::placeholder {
      color: #9f9f9f;
    }
  }
}

.custum-input-icon, .custum-input {
  &::placeholder {
    font-size: 12px;
    // color: rgba(95, 129, 157, 1);
  }
}

.p-inputtext {
  &::placeholder {
      font-size: 13px;
      color: #9f9f9f;
  }
}

input.p-inputtext.p-component {
  &:focus {
    box-shadow: none !important;
  }
}


.mr-auto {
  margin: 0 auto;
}

.custom-btn {
  min-width: 220px;
  min-height: 45px;
  padding: 12px 10px;
  border-radius: 6px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  background-color: var(--main);
  box-shadow: 0 0 3px rgba(20, 36, 68, 50%);
  color: #fff;
  max-width: 100%;
  border: 1px solid var(--main);
  z-index: 1;
  @media (max-width: $screen-xs) {
    min-width: 160px;
    max-width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    background-color: #fff !important;
    color: #1799c6 !important;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
  }
  &:hover {
    color: var(--main) !important;
    &::before {
      transform: scaleX(1);
    }
  }
  &.md {
    min-width: 300px;
    padding: 10px 9px;
    min-height: 45px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.xl {
    min-width: 400px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.sm {
    min-width: 150px;
    padding: 10px 9px;
    min-height: 40px;
  }
  &.lg {
    min-width: 550px;
    padding: 10px 9px;
    min-height: 45px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.red-bg {
    background-color: #e5254a;
    border-color: #e5254a;
    &:hover {
      color: #e5254a !important;
    }
  }
  &.cancel {
    background-color: #F8F8F8;
    color: #000;
    border-color: #F8F8F8;
    // box-shadow: none;
  }

  &.logout {
    background-color: #EB5757;
    border-color: #EB5757;
    color: #fff;
    &:hover {
      color: #EB5757 !important;
    }
  }

  &.order-btn {
    background-color:transparent;
    border: 1px solid var(--main);
    box-shadow: none;
    color: var(--main);
    font-weight: bold;
    &::before {
      background-color: var(--main) !important;
    }
    &:hover, &.router-link-active {
      color: #fff !important;
      background-color: var(--main) !important;
    }
  }
}

.layout-form {
  background-color: var(--wh);
  box-shadow: 0px 3px 30px #0000001A;
  border-radius: 20px;
  margin-bottom: 0;
  padding: 45px 15px;
  &.sm-radius {
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
    text-align: start;
    margin-bottom: 0;
  }

  &.sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
  }

  .card-setting {
    i {
      #{$ltr} & {
        transform: scale(-1);
      }
      #{$rtl} & {
        transform: scale(1);
      }
    }
  }

  &.chart_layout{
    padding: 30px 15px;
  }
}

.del-color {
  background-color: rgba(236, 47, 47, 10%);
}


.custom-width {
  width: 750px;
  max-width: 100%;
  margin: 0 auto 30px;
  text-align: center;
  &.lg {
    width: 1000px;
  }
  &.md {
    width: 600px;
  }
}

.main-title {
  font-size: 17px;
  margin-bottom: 10px;
  color: #000;
  &.blue {
    color:#013660;
  }
  @media (max-width: $screen-xs) {
    font-size: 15px;
  }

  &.normal {
    font-size: 15px;
  }

  &.bold {
    font-weight: bold;
  }

  &.lg {
    font-size: 20px;
    @media (max-width: $screen-xs) {
      font-size: 17px;
    }
  }
  
  &.sm {
    font-size: 14px;
  }

  &.md {
    font-size: 16px;
  }
}
.fw-normal {
  font-weight: normal;
}

.cl-red {
  color: #e5254a;
}

.desc {
  font-size: 14px;
  color: #7391a9;
  font-weight: 300;
  @media (max-width: $screen-xs) {
    font-size: 12.5px;
  }
}


.form-group {
  margin-bottom: 30px;
}

.f-password {
    display: block;
    text-align: end;
    font-size: 12px;
    color: #ababab;
    margin-bottom: 30px;
}

.new-sign {
    font-size: 14px;
    color: rgba(95, 129, 157, 1);
    font-weight: bold;
    a, button {
      color: rgba(1, 54, 96, 1);
      background-color: transparent;
      padding: 0;
      margin-inline-start: 3px;
    }
}

.static-btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  // left: 12px;
  @include dir-right(12px);
  top: 50%;
  transform: translateY(-50%);
  color: #bfbfbf;
  font-size: 17px;
  &.with_eye {
    &::after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 1px;
        height: 23px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

  }
  &.active_class {
    &::after {
      display: none;
    }
  }

  &.search-btn {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 3px;
    background-color: var(--main);
    color: var(--wh);
  }
}



.restore-image {
  max-height: 220px;
  width: 250px;
  @media (max-width: $screen-xs) {
     max-height: 150px;
  }
}

.resend-code-btn {
  background-color: transparent;
  margin: 15px auto;
}

.default-class {
  width: 100%;
  height: 100%;
}

.edit-label, .remove-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  #{$ltr} & {
    transform: translate(50%, -50%);
  }
  #{$rtl} & {
    transform: translate(-50%, -50%);
  }
  @include dir-right(0);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  color: var(--wh);
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.without_label {
  .edit-label, .remove-btn {
    display: none !important;
  }
}

.custum-input-icon {
  width: 100%;
  height: 100%;
  &::placeholder {
    color: rgba(95, 129, 157, 1) !important;
  }
}

.check-inner {
  gap: 15px;
  margin-bottom: 20px;
  .check-text {
    color: #828282;
    font-size: 14px;
    .anchor {
      text-decoration: underline !important;
      color: #828282;
    }
  }
  .p-checkbox-box {
    border: 1px solid #dddddd;
    box-shadow: none !important;
    outline: 0 !important;
    &.p-highlight {
      background: #00a19a;
    }
  }
}

// custom radio btn
.custom-radio {
  display: flex;
  align-items: center;
  color: #747975;
  font-size: 1rem;
  line-height: 22px;
  &.custom-check {
    .mark {
      padding: 0;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border-color: #8C8C8C;
      position: relative;
      .icon {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        left: 50%;
        color: #fff;
        display: none;
      }
      &::before {
        border-radius: 0;
      }
    }
    input:checked + .mark {
      border-color: var(--main);
      &::before {
          background-color: var(--main);
      }
      .icon {
        display: block;
      }
  }
  }
  .hint {
    font-size: 14px;
    transition: .3s;
  }

  .mark {
      width: 16px;
      height: 16px;
      @include dir-margin-right(12px);
      border-radius: 50%;
      border: 1px solid #747975;
      background-color: transparent;
      padding: 3px;
      transition: .3s;
      flex-shrink: 0;
      cursor: pointer;
      &::before {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: block;
          transition: .3s;
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
      }

      &.new-mark {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: .3s;
        &::before {
          content: "\f00c";
          width: auto;
          height: auto;
          font-weight: 600;
          font-size: 10px;
          color: #fff;
          opacity: 0;
          transition: .3s;
        }
      }
  }
  input:checked + .mark {
      border-color: #543D8F;
      &::before {
          background-color: #543D8F;
      }
  }
  .new-mark:checked + .mark {
    background-color: #000;
    &::before {
      background-color: transparent;
      opacity: 1;
  }
  }
  input:checked ~ .hint {
    color: #000;
  }
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background-color: transparent;
}

.notification {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  border-radius: 8px;
  margin-inline-end: 12px;
  .notif-icon {
    position: relative;
    i {
      font-size: 17px;
      color: #fff;
    }
    .nof-cont {
      &::before {
        content: attr(data-number);
        position: absolute;
        width: 15px;
        height: 15px;
        background-image: linear-gradient(to bottom, #00A19A99, #543D8FE5);
        color: #fff;
        top: -5px;
        @include dir-left(-5px);
        font-size: 9px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .bell-img {
    height: 20px;
  }
}

.custum_dialog_width {
  width: 500px;
  max-width: 100%;
  margin: 0 20px;
  border-radius: 32px;
  &.without-close {
    .p-dialog-header-icons {
      display: none;
    }
  }
  .p-dialog-header-icons {
    @include dir-margin-left(auto);
  }
  @media (max-width: $screen-xs) {
    width: calc(100% - 15px);
  }
  &.md {
    width: 600px;
  }
}

.paginate-parent {
  .p-paginator-element {
    border-radius: 50%;
    min-width: 35px !important;
    min-height: 35px;
    height: 35px;
  }
    button.p-paginator-page.p-paginator-element.p-link.p-highlight {
      background: var(--main);
      color: var(--wh);
  }
  .p-paginator.p-component {
    gap: 7px;
  }
  span.p-paginator-pages {
    display: flex;
    gap: 7px;
    #{$ltr} & {
      flex-direction: row;
    }
    #{$rtl} & {
      flex-direction: row-reverse;
    }
  }

}


.radio-content {
  &.sm {
    padding: 10px;
    width: 100px;
    font-size: 13px;
  }
}

.section-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  gap: 20px;
  flex-wrap: wrap;
  .custom-btn {
    margin-bottom: 0 !important;
  }
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: none !important;
}

.input_auth {
  &.without-edit {
    width: 100px;
    height: 100px;
    border: 2px dashed #E89641;
    border-radius: 10px;
    background-color: #E8964126;
    flex-direction: column;
    font-size: 12px;
    gap: 8px;
    .default-class {
      width: 30px;
      height: 25px;
    }
    .uploaded-block {
      img {
        border-radius: 10px;
      }
    }

    .remove-btn {
      width: 25px;
      height: 25px;
      top: 15px;
      @include dir-right(15px);
    }


  }
}

.main-cl {
    color: var(--main);
}

.red-cl {
    color: var(--red) !important;
}

.custom-pd {
  padding: 12px;
}

.location_input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
}

.p-dialog .p-dialog-header {
  padding: 15px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}

.p-dialog .p-dialog-content:last-of-type {
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.Auth-logo {
  width: 170px;
  height: 35px;
  @media (max-width: $screen-xs) {
    width: 120px;
    height: 25px;
  }
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;

  &::before {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background: rgba(95, 129, 157, 1);
  }
  &.small {
      &::before {
          width: 50%;
      }
  }
  .icon-done {
      width: 28px;
      height: 28px;
      background-color: #fff;
      border: 2px solid rgba(95, 129, 157, 1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      position: relative;
      transition: all 0.3s ease-out;
      z-index: 4;
      .icon {
          display: none;
      }
      &::before {
          content: "";
          width: 100%;
          height: 100%;
          padding: 18px;
          position: absolute;
          border: 1.6px dashed transparent;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          transition: all 0.3s ease-out;
      }
  }

  .progress-label {
      color: #828282;
  }
  .step-item {
      flex-grow: 1;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &.active, &.activeState {
      .icon-done {
          background-color: rgba(95, 129, 157, 1);
          color: #fff;
          .icon {
          display: block;
          }

          &::before {
          border-color: rgba(95, 129, 157, 1);
          }
      }

      .progress-label {
          color: #333333;
      }
      }
  }
}

.disabledClass {
  cursor: no-drop !important;
}




.diamond {
  width: 50px; /* Control size */
  height: 50px;
  background: linear-gradient(135deg, #e63950, #1e1a3c); /* Gradient colors */
  transform: rotate(45deg); /* Rotate the square to make it a diamond */
  border-radius: 12px; /* Slight curve on the corners */
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  min-width: 312px;
  margin-inline-end: 10px;
  @media (max-width: $screen-xs) {
    min-width: 100%;
  }
}

.info-box-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 22px 33px;
  border-radius: 32px;
  background-color: #f0f0f0;
  height: 100%;

  &.market-size {
      background-color: #333;
      h2 {
        color: #fff;
      }
      span {
        color: #5f819d;
      }
  }

  &.store-clients {
      background-color: #fff;
      h2 {
        color: #E5254A;
      }
      span {
        color: #5f819d;
      }
  }

  &.cart-clients {
      background-color: #E5254A;
    }
    
    &.market-clients {
      background-color: #fff;
      color: #333;

      span, h2 {
        color: #5f819d;
      }
  }

  img {
    margin-inline-end: 25px;
  }

  .info-content {
      span {
          display: block;
          font-size: 1em;
          margin-bottom: 10px;
      }

      h2 {
          font-size: 2em;
          margin: 0;
      }

      small {
          font-size: 0.8em;
      }
  }
}

.bold {
  font-weight: bold;
}

.transparent {
  background-color: transparent;
}

.hint-card {
  width: 35%;
  padding-inline-start: 10px;
  border-right: 2px solid rgba(95, 129, 157, 1);
  font-size: 12px;
  color: #000;
  color: rgba(95, 129, 157, 1);
  flex-grow: 1;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.5;
  @media (max-width: $screen-xs) {
    width: 100%;
    border-right: none;
    padding-inline-start: 0;
  }
}

.home-section {
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 20px 0;
  }
}

.progress-bar-side {
  height: 10px;
  background: #eef6fe;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px 3.5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.progress-fill {
  height: 5px;
  background: #E5254A;
  border-radius: 10px;
  transition: width 0.3s ease;
}


.progress-labels {
  display: flex;
  margin-top: 8px;
  margin-bottom: 15px;
  font-weight: 500;
  justify-content: space-between;
  span {
    font-size: 11px;
    color: #5F819D;
  }
}
